/**
 * @class Amplify\Widget\Components\Product\FavouriteManageButton
 * @name Product Favourite Manage Button
 * @code product.favourite-manage-button
 * @description Product favourite manage button widget
 * @author Hafijul Islam <hafijul.islam@easyask.com>
 *
 */

.x-product-favourite-manage-button {
    width: 36px;
    height: 36px;
    border-style: solid;
    border-width: 2px;
    border-color: #f7f7f !important;
    color: #43d9a3 !important;
    margin: 0 !important;
    transition: all 0.4s;
    &:hover {
        background-color: #43d9a3 !important;
        color: #fff !important;
    }

    &.active {
        color: #dc3545 !important;
        border-color: #dc3545 !important;

        &:hover {
            background-color: #dc3545 !important;
            color: #fff !important;
        }
    }
}
