/**
 * @class Amplify\Widget\Components\Product\NcnrItemFlag
 * @name Product Ncnr Item Flag
 * @code product-ncnr-item-flag
 * @description Product show
 * @author Hafijul Islam <hafijul.islam@easyask.com>
 *
 */

.x-product-ncnr-item-flag {
    .ncnr-text {
        color:  #ffb74f;
        font-weight: normal;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 24px;
    }
}
