/**
 * @class Amplify\Widget\Components\Product\InStockFlag
 * @name Product In Stock Flag
 * @code product-in-stock-flag
 * @description Product show
 * @author Hafijul Islam <hafijul.islam@easyask.com>
 *
 */

.x-product-in-stock-flag {
    .in-stock-text {
        color:  #43d9a3;
        font-weight: normal;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 24px;
    }
}
