/**
 * @class Amplify\Widget\Components\Customer\Order\Details
 * @name Customer Order Details
 * @code customer.order.details
 * @description
 * @author Hafijul Islam <hafijul.islam@easyask.com>
 *
 */

.x-customer-order-details {

    .remove {
        position: absolute;
        top: 2px;
        right: 10px;
    }

    .ordernote {
        padding-left: 0.75rem;
        height: 75px;
        border-radius: 8px 0 0 8px !important
    }

    .product-thumb > img {
        width: auto;
        max-width: 45px;
        max-height: 50px;
        margin: 5px auto;
    }
}
