/**
 * @class Amplify\Widget\Components\SopByMmanufacturer
 * @name Shop By Manufacturer
 * @code shop-by-manufacturer
 * @description
 * @author Hafijul Islam <hafijul.islam@easyask.com>
 *
 */

.x-shop-by-manufacturer {
    .manufacturer-img-container {
        width: 154px;
        height: 154px;
        margin: 10px;
    }

    .mg {
        margin-bottom: 10px;
    }

    .mg1 {
        margin-bottom: 5px;
    }

    .manufacturer-img {
        width: 100%;
        /* or any custom size */
        height: 100%;
        object-fit: contain;
    }

    .manufacturer-name {
        width: 154px;
    }

    .filter {
        margin-left: -12px;
    }

    @media only screen and (max-width: 800px) {
        .filter {
            width: 100% !important;
        }
    }

}
