/**
 * @class Amplify\Widget\Components\LanguageChange
 * @name Language Change Dropdown
 * @code site.language-change
 * @description
 * @author Hafijul Islam <hafijul.islam@easyask.com>
 *
 */

.x-site-language-change {
    display: inline-block;
}
